@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeInOut {
  0% { opacity: 0.4; transform: scale(1); }
  50% { opacity: 0.85; transform: scale(1.05); }
  100% { opacity: 0.4; transform: scale(1); }
}
.meet-btn {
  background: #2563eb;
  color: white;
  padding: 4px 10px;
  border-radius: 9999px;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.2s;
  opacity:0.7;
}

.meet-btn:hover {
  background: #1d4ed8;
}
